<div>
  <img src='https://www.drupal.org/files/profile_default.jpg'/ class='small-avatar pull-left'>
  <h4>&nbsp;&nbsp;<%= comment.body %></h4>
  <small>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; by <%= link_to comment.user.username, user_path(comment.user) %>
    on <%= comment.created_at.in_time_zone("Central Time (US & Canada)").strftime("%B %e, %Y at %l:%M %P") %> 
  </small>
  <% if comment.user == current_user %>
    <%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %> or
    <%= link_to 'Delete', post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Delete Comment?"} %>
  <% end %>
</div>