<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :desriptoin %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <% if f.object.id %>
      <p>
        Changing this option will not affect posts that are already saved. <br/>
        It will merely align the checkbox of future posts with this checkbox.
      </p>
    <% end %>
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>
