<h1>Listing Topics</h1>

<table width='700' class='table'>
  <thead>
    <tr>
      <th>Topic Name</th>
      <th width='500'>Description</th>
      <th>Posts</th>
      <th>Edit Name</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><h4><%= topic.name %></h4></td>
        <td><%= topic.description %></td>
        <td><%= topic.posts.count %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path, class: 'btn btn-default' %>
<%= link_to 'Back', user_path(@user), class: 'btn btn-default' %>