<%= @topic.name %><br />
Public: <%= @topic.public %>

<h1>Listing Posts</h1>

<ul class="nav nav-tabs">
  <% @topics.each do |topic| %>
    <li role="presentation"><a href="topics/#{topic.id}"><%= topic.name %></a></li>
  <% end %>
</ul><br />

<br>

<%= link_to "New Post", new_topic_post_path(@topic) %>
<%= link_to 'Edit', edit_topic_path(@topic) %>
<%= link_to 'Back', topics_path %>
