<h1><%= @user.username %></h1>
Date joined: <%= @user.created_at.strftime("%B %e, %Y") %>
Posts: <%= @user.posts.count %><br/>
Comments made: <%= @user.comments.count %><br/>
<% if current_user && (current_user.admin? || current_user == @user) %>
  Public: <%= @topic.public %>
<% end %>
<div class='row'>
  <%= render partial: 'topic_nav', locals: {topics: @topics, topic: @topic} %>
</div>
<br>

<%= link_to "New Post", new_topic_post_path(@topic) %>
<%= link_to 'Edit', edit_topic_path(@topic) %>
<%= link_to 'Back', topics_path %>
