<h1><%= @topic.name %></h1>
Public: <%= @topic.public %>

<ul class="nav nav-tabs">
  <% @topics.each do |topic| %>
    <li role="presentation"><%= link_to topic.name, topic_path(topic), data_toggle: 'tab' %></li>
  <% end %>
</ul><br />
<% @topic.posts.each do |post| %>
  <%= link_to post.title, topic_post_path(@topic, post) %><br />
<% end %>
<br>

<%= link_to "New Post", new_topic_post_path(@topic) %>
<%= link_to 'Edit', edit_topic_path(@topic) %>
<%= link_to 'Back', topics_path %>
