<div class='row'>

  <!-- Avatar -->
  <div class='col-md-2' id='avatar'>
    <img src='https://www.drupal.org/files/profile_default.jpg' height='150' width='150'/>
  </div>

  <div class='col-md-10'>
    <h1><%= @user.username %></h1>

    <!-- User info -->
    <div class='col-md-4'>
      Date joined: <%= @user.created_at.strftime("%B %e, %Y") %><br/>
      Posts: <%= @user.posts.count %><br/>
      Comments made: <%= @user.comments.count %><br/>
      <% if current_user && (current_user != @user) && !current_user.friends.include?(@user) %>
        <%= link_to "Follow", friendships_path(friend_id: @user), method: :post, class: 'btn btn-success' %>
      <% end %>
    </div>

    <!-- Search Bar -->
    <div class='col-md-8 search-bar'>
      <%= render partial: 'posts/search_bar' %><br/>
      <%= form_tag user_path(@user), :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    </div>
  </div>
</div><br/>

<!-- Quick Links -->
<div class='row'>
  <div class='col-md-2' id='quick-links'>
    My List <hr/>
    <% @user.friendships.each do |friendship| %>
      <%= link_to friendship.friend.username, user_path(friendship.friend) %>
        <span style='text-align: right'>
          <%= link_to "x", friendship_path(friendship), method: :delete, data: {confirm: 'Remove from your list?'}, style: 'text_align:right' %><br/>
        </span>
    <% end %>
  </div>
  <div class='col-md-8'>

    <!-- Topic tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <% @topics.each_with_index do |topic, index| %>
        <li role="presentation" class="<%= 'active' if index == 0 %>">
          <a href="#<%= topic.name %>" aria-controls="<%= topic.name %>" role="tab" data-toggle="tab">
            <%= topic.name %>
          </a>
        </li>
      <% end %>
      <% if @user == current_user %> 
        <div class='pull-right'><%= link_to " ", topics_path, class: 'glyphicon glyphicon-pencil' %></div>
      <% end %>
    </ul>

    <!-- Tab panes (posts) -->
    <div class="tab-content">
      <br/>
      <% @topics.each_with_index do |topic, index| %>
        <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="<%= topic.name %>">

          <% if (@user == current_user) %>
            <%= link_to "New Post", new_topic_post_path(topic), class: 'btn btn-success' %><br/>
          <% end %>

          <% if policy(topic).update? %>
            Order by: 
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= topic.posts_order %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to "Newest First", topic_path(topic, topic: {posts_order: "Newest First"}), method: :put %></li>
                <li><%= link_to "Oldest First", topic_path(topic, topic: { posts_order: "Oldest First"}), method: :put %></li>
                <li><%= link_to "A - Z", topic_path(topic, topic: {posts_order: "A - Z"}), method: :put %></li>
                <li><%= link_to "Z - A", topic_path(topic, topic: {posts_order: "Z - A"}), method: :put %></li>
                <li><%= link_to "Highest Points", topic_path(topic, topic: {posts_order: "Highest Points"}), method: :put %></li>
                <li><%= link_to "Lowest Points", topic_path(topic, topic: {posts_order: "Lowest Points"}), method: :put %></li>
              </ul>
            </div>
          <% end %>

          <% posts = topic.search(params[:search]) %>
          <% if posts.size > 0 %>
            <% posts = posts.order_posts %>
            <%= render partial: 'posts/post_list', locals: {posts: posts} %>
          <% end %>

        </div>
      <% end %>
    </div>

  </div>
</div>
<br>