<!DOCTYPE html>
<html>
<head>
  <title>Entermymind</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script></script>
</head>
<body>
  <div class='container'>    
    <div class='row top-bar'>
      <ul class="nav nav-pills">
        <li><%= link_to "Home", static_index_path %></li>
        <li><%= link_to "Top Posts", topic_posts_path(Topic.first) %></li>
        <li><%= link_to "Users", users_path %></li>
      </ul>
      <div class='row user-info'>
      <% if current_user %>
        <div class='pull-right'>
          Hello <%= link_to current_user.username, edit_user_registration_path(current_user) %>! <%= link_to " ", destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out' %>
        </div>
      <% end %>
    </div>
    </div>
    <div class='flash-container'>
      <% if flash[:notice] %>
      <div class='alert alert-success'>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class='alert alert-danger'>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class='alert alert-warning'>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    </div>
    <div class='row'>
      <%= yield %>
    </div>
    <%= render partial: 'static/footer' %>
  </div>
</body>
</html>
